.card-group p {
  font-size: 16px;
  font-family: sans-serif;
  font-style: oblique;
  color: #515151; }

.titulo2 {
  background-color: #51515128;
  padding: 30px; }

header h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

header img {
  width: 4%;
  margin-left: 30px; }

header .heder {
  margin-top: 30px;
  margin-bottom: 30px; }

header .nav-link {
  color: black; }

header .navbar {
  border: solid #000000 1px;
  border-radius: 10px; }

@media only screen and (max-width: 768px) and (min-width: 300px) {
  header img {
    width: 10%;
    margin: 0; }
  header .img {
    flex-direction: column; } }

main .carousel-inner {
  border-radius: 50px; }

main .carru {
  height: 600px; }

main #carouselExampleCaptions {
  margin-top: 100px;
  margin-bottom: 200px;
  width: 85%; }

@media only screen and (max-width: 768px) and (min-width: 300px) {
  .carousel {
    display: none; }
  .titulo {
    margin-top: 70px; }
  .lis {
    display: none; } }

main .card-group {
  margin-top: 200px;
  margin-bottom: 200px; }

main .card-img-top {
  height: 576px;
  padding: 7px; }

main body::-webkit-scroll-bar {
  color: orange; }

@media only screen and (max-width: 768px) and (min-width: 300px) {
  .titulo2 {
    background-color: white;
    padding: 0;
    margin: 0; }
  main .card-group {
    margin-top: 50px;
    margin-bottom: 100px; } }

footer h5 {
  display: flex;
  justify-content: center; }

footer .R1 {
  display: flex;
  justify-content: center;
  align-items: center; }

footer .nav {
  display: flex;
  justify-content: center; }

footer .icon {
  padding-left: 10px;
  font-size: 25px; }

@media only screen and (max-width: 768px) and (min-width: 300px) {
  footer .R1 {
    display: none; }
  footer form {
    width: 350px;
    height: auto; }
  footer .formContainer {
    display: flex;
    justify-content: center; } }

.footerContainer {
  padding: 0;
  background-color: #EE6C4D; }
