// EXTEND //

%fuenteDeCards{
    font-size: 16px;
    font-family: sans-serif;
    font-style: oblique;
    color: #515151;
}

%estiloTitulo2{
    background-color: #51515128;
    padding: 30px;
}
    
    
    
    