/* CSS de Cards */


//Cateregorias//

.categoria {
    margin-top: 200px;
    h4{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 40px;
        letter-spacing: 3px;
        color: #ff822d;
    }
    li{
        list-style: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        color: #515151;
    }
}
//Queries de categoria//
@media only screen and (max-width: 768px) and (min-width: 300px){
    .lista{
        display: none;
    }
    .categoria{
        display: flex;
        justify-content: center;
        margin-top: 100px;
        background-color: #212529;
        box-shadow: 0 0 30px rgba(105, 105, 105, 0.945);
        h4{
            color: #ffffff;
            margin-top: 15px;
            margin-bottom: 15px;
            
        }
    }
}


//CARDS//

.card {
    margin-top: 100px;
}

main {
    margin-bottom: 200px;

    .card-img-top {
        height: 300px;
        padding: 5px;
        border-radius: 15px;
    }

    .card-body {
        .boton {
            display: flex;
            justify-content: center;

            .boton2 {
                color: white;
                background-color: #ff822d;
                border-color: #ff822d;
            }
        }
    }

    .modal-footer {
        .boton2 {
            color: white;
            background-color: #ff822d;
            border-color: #ff822d;

        }
    }
}

.card {
    box-shadow: 0 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.25s;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}