footer{
    
    h5{
        display: flex;
        justify-content: center;
       
      }
      .R1{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .nav{
        display: flex;
        justify-content: center;
    }
    .icon{
        padding-left: 10px;
        font-size: 35px;
        color: #515151;
      }
      .botonsus{
        color: white;
            background-color: #ff822d;
            border-color: #ff822d;
      }
      .botonsus:hover {
        background-color: #515151;
            border-color: #515151;
      }
    }

   

    @media only screen and (max-width: 768px) and (min-width: 300px) {
       footer{
           .R1{
               display: none;
           }
           form{
             width: 350px;
             height: auto;
            }
            .formContainer{
              display: flex;
              justify-content: center;
            }
             
       }
      }

  

       