//------ CARRUSEL ------//
.headerPd{
    padding: 0;
    background-color: #212529;
}
.navPd{
    padding: 10px;
    padding-left: 50px;
    
    
}
main{
    .carousel-inner{
        border-radius: 50px;
        
    }
    
    .carru{
        height: 650px;
        
    }
        
        
    
    #carouselExampleCaptions{
        margin-top: 100px;
        margin-bottom: 200px;
        width: 85%;
    
    }
}

@media only screen and (max-width: 768px) and (min-width: 300px){
    .carousel{
        display: none;
    }
    .titulo{
        margin-top: 70px;
    }
    .lis{
        display: none;
        }
        .navPd{
            padding: 10px;
            padding-left: 30px;
        }
}


//------ CARDS ------//

main{
    .card-group{
        margin-top: 100px;
        margin-bottom: 200px;
        
        
    }
    
    .imgcard{
        height: 576px;
        padding: 7px;
    }
     
    
    
}

.card-group{
    p{
        @extend %fuenteDeCards;
    }
}

.titulo2{
    @extend %estiloTitulo2;
    h2{
        font-size: 50px;
    }
}


//BTN// 
.btn-wsp{
    @include btn-style;
    .btna{
        color: #fff;
    }
}
.btna:hover{
    text-decoration: none;
    color: #0df053 ;
}
    
//

//MEDIAS QUERIES //
        

@media only screen and (max-width: 768px) and (min-width: 300px){
    .titulo2{
        background-color: white;
        padding: 0;
        margin: 0;
        box-shadow: none;
        h2{
            font-size: 30px;
            color: #515151 ;
            letter-spacing: 2px;
        }
    }
    
    main{
        .card-group{
            margin-top: 10px;
            margin-bottom: 100px;
        }
    } 
       
}

            
            

 
