//------ CARRUSEL ------//

main{
    .carousel-inner{
        border-radius: 50px;
        
    }
    
    .carru{
        height: 600px;
        
    }
    
    #carouselExampleCaptions{
        margin-top: 100px;
        margin-bottom: 200px;
        width: 85%;
    
    }
}

@media only screen and (max-width: 768px) and (min-width: 300px){
    .carousel{
        display: none;
    }
    .titulo{
        margin-top: 70px;
    }
    .lis{
        display: none;
        }
        
}


//------ CARDS ------//

main{
    .card-group{
        margin-top: 200px;
        margin-bottom: 200px;
        
        
    }
    
    .card-img-top{
        height: 576px;
        padding: 7px;
    }
     
    body::-webkit-scroll-bar{
        color: orange;
    }
    
}

.card-group{
    p{
        @extend %fuenteDeCards;
    }
}

.titulo2{
    @extend %estiloTitulo2;
    h2{
        font-size: 50px;
    }
}

//BTN// 
.btn-wsp{
    @include btn-style;
    .btna{
        color: #fff;
    }
}
.btna:hover{
    text-decoration: none;
    color: #0df053 ;
}
    
        

@media only screen and (max-width: 768px) and (min-width: 300px){
    .titulo2{
        background-color: white;
        padding: 0;
        margin: 0;
        h2{
            font-size: 30px;
            color: #515151 ;
            letter-spacing: 2px;
        }
    }
    
    main{
        .card-group{
            margin-top: 50px;
            margin-bottom: 100px;
        }
    } 
       
}

            
            

 
